* {
    box-sizing: border-box;
}

body {
    background-color: #1B1C21;
    margin-top: 0;
    position: relative;
    box-sizing: border-box;
    overflow-x: hidden;
}

body:before {
    content: "";
    position: absolute;
    left: -50%;
    top: 0;
    width: 200%;
    height: 100%;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.3) 50%, transparent 50%);
    z-index: -1;
}

.navbar-brand img {
    object-fit: fill;
    margin: 1px 1px;
}

.navbar {
    position: relative;
    z-index: 1;
}


ul{
    list-style: none;
}

/* Navbar styles for phone view */
@media (max-width: 810px) {
    body {
        overflow-x: hidden;
        white-space: normal;
    }
    .main{
        background-image: url(asset/phonebackground.jpg);
    }
    .navbar-toggler-icon {
        font-size: large;
        
    }
    
    .navbar-nav {
        font-weight: bolder;
        /* color: #ff0404; */
        background-color: #0066ff28;
        border-radius: 20px;
        padding-bottom: 2px;
        /* margin-left: 25%; */
        align-items: center;
        align-content: center;
    }
    
    .navbar-nav .nav-item .nav-link {
        color: #f40808;
        text-transform: uppercase;
    }

    .navbar-nav .nav-item .nav-link:hover {
        color: #00aaff;
    }
    .btn{
        border-radius: 20px;
    }
    
    .about-us {
        display: grid;
        grid-template-areas: "imgs" "contents";
        background-color: rgba(9, 9, 9, 0.16);
        border-radius: 20px;
        color: #fff;
        width: auto;
        padding: 20px;
        overflow-x: auto;
        white-space: normal;
        word-wrap: break-word;
    }

    .about-img {
        align-items: center;
        align-content: center;
        /* margin-right: 40vw; */
        grid-area: imgs;
        /* background-color: #0066ff; */
        padding-left: 25%;
        padding-bottom: 20px;
    }

    .about {
        grid-area: contents;
    }

    .about h2 {
        font-size: 2.3rem;
        font-family: 'Reem Kufi Fun', sans-serif;
    }

    .jumbotron,
    .navbar {
        /* background-image: url(asset/headernavbackground.jpg); */
        background-size: cover;
        background-position: center;
        background-color: #2c2f305b;
    }

    .navbar-brand {
        background: none;
    }

    .nav-link a {
        color: #fff;
    }

    .navbar-nav .nav-item .nav-link {
        color: #fff !important;
        text-transform: uppercase;
    }

    .navbar-nav .nav-item .nav-link:hover {
        color: #007bff !important;
    }

    .jumbotron {
        height: auto !important;
    }

    .jumbotron .display-4 {
        font-size: 46px !important;
        margin-top: 80px !important;
        font-weight: bold;
        text-shadow: 1px 1px 0.5px rgba(0, 0, 0, 0.8) !important;
        color: #ffffff;
    }

    .jumbotron .typed-text {
        font-size: 50px;
        color: #0890f8;
        font-family: 'Reem Kufi Fun', sans-serif;
        font-weight: bolder !important;
    }

    .typed-cursor {
        font-size: 18px !important;
        color: #fff;
    }

    svg {
        overflow: hidden;
        vertical-align: middle;
    }

    #ast-scroll-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        display: none;
    }

    #ast-scroll-top.show {
        display: block;
    }

    .workingspace {
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        color: #fff;
        width: 70vw;
        margin: 10px;
        overflow-x: auto;
        gap: 30px;
    }
    bodyy {
        height: 600px;
        margin: 0;
        display: grid;
        grid-template-rows: 500px 100px;
        grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
        align-items: center;
        justify-items: center;
      }
      
      main#carousel {
        grid-row: 1 / 2;
        grid-column: 1 / 8;
        width: 100vw;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transform-style: preserve-3d;
        perspective: 600px;
        --items: 5;
        --middle: 3;
        --position: 1;
        pointer-events: none;
      }
      
      div.item {
        position: absolute;
        width: 300px;
        height: 400px;
        background-color: coral;
        --r: calc(var(--position) - var(--offset));
        --abs: max(calc(var(--r) * -1), var(--r));
        transition: all 0.25s linear;
        transform: rotateY(calc(-10deg * var(--r)))
          translateX(calc(-300px * var(--r)));
        z-index: calc((var(--position) - var(--abs)));
      }
      
      div.item:nth-of-type(1) {
        --offset: 1;
        background-color: #90f1ef;
      }
      div.item:nth-of-type(2) {
        --offset: 2;
        background-color: #ff70a6;
      }
      div.item:nth-of-type(3) {
        --offset: 3;
        background-color: #ff9770;
      }
      div.item:nth-of-type(4) {
        --offset: 4;
        background-color: #ffd670;
      }
      div.item:nth-of-type(5) {
        --offset: 5;
        background-color: #e9ff70;
      }
      
      input:nth-of-type(1) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
      }
      input:nth-of-type(1):checked ~ main#carousel {
        --position: 1;
      }
      
      input:nth-of-type(2) {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
      }
      input:nth-of-type(2):checked ~ main#carousel {
        --position: 2;
      }
      
      input:nth-of-type(3) {
        grid-column: 4 /5;
        grid-row: 2 / 3;
      }
      input:nth-of-type(3):checked ~ main#carousel {
        --position: 3;
      }
      
      input:nth-of-type(4) {
        grid-column: 5 / 6;
        grid-row: 2 / 3;
      }
      input:nth-of-type(4):checked ~ main#carousel {
        --position: 4;
      }
      
      input:nth-of-type(5) {
        grid-column: 6 / 7;
        grid-row: 2 / 3;
      }
      input:nth-of-type(5):checked ~ main#carousel {
        --position: 5;
      }
      

    #creators {
        color: white;
        font-family: 'Reem Kufi Fun', sans-serif;
        background-color: rgba(73, 72, 72, 0.273);
        margin: 5px;
        padding: 10px;
        border-radius: 20px;
        overflow-x: auto;
        white-space: nowrap; 
        scroll-snap-type: x mandatory; 
    }
    #creators h1{
        font-size: 2.5rem;
        /* background-color: #0066ff; */
        text-align: center;
        
    }
    #creators span{
        font-size: 2.0rem;
    }
    .ccs{
        /* display: flex; */
        /* flex-direction: row; */
        align-items: center;
        text-align: center;
        align-content: center;
    }
    .ccs img{
        width: 50%;
    }
    .leftright{
        margin-top: 20vh;
        padding: 30px;
    }
    .firstrow-workspace {
        display: flex;
        flex-direction: row;
        gap: 40px;
        width: max-content; 
        scroll-snap-type: x mandatory; 
        overflow-x: auto; 
        scrollbar-width: thin; 
    }
    
    
    .firstrow-workspace {
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch; 
    }
    

    .firstrow-workspace::-webkit-scrollbar {
        width: 8px;
    }
    
    .firstrow-workspace::-webkit-scrollbar-thumb {
        background-color: #555;
        border-radius: 4px;
    }
    
    .firstrow-workspace::-webkit-scrollbar-track {
        background-color: rgba(73, 72, 72, 0.273);
    }
    

    .one-cc {
        background-color: rgba(73, 72, 72, 0.273);
        text-align: center;
        align-items: center;
        border-radius: 20px;
        padding: 5px;
    }

    .one-cc img {
        width: 40vw;
        border-radius: 50%;
        padding: 5px;
    }

    .socialhandels {
        display: flex;
        align-items: center;
        align-content: center;
    }
    #creators {
        color: white;
        font-family: 'Reem Kufi Fun', sans-serif;
        background-color: rgba(73, 72, 72, 0.273);
        margin: 5px;
        padding: 10px;
        border-radius: 20px;
        overflow-x: auto;
        white-space: nowrap; 
        scroll-snap-type: x mandatory; 
    }
    #creators h2{
        font-size: 2.3rem;
    }
    #creators span{
        font-size: 2.0rem;
    }
    .viewallcc{
        text-align: center;

        /* background-color: #1B1C21; */
    }
    .viewallcc a{
        background-color: #333;
        border-radius: 20px;
        padding: 4px;
    }
    .sociallinks{
        /* display: flex; */
        /* flex-direction: row; */        
        font-size: 2em;
        text-align: center;
        align-content: center;
        align-items: center;
    }
    .ccs{
        /* display: flex; */
        /* flex-direction: row; */
        align-items: center;
        text-align: center;
        align-content: center;
    }
    .ccs img{
        width: 50%;
    }
    .leftright{
        margin-top: 10vh;
        padding: 30px;
    }
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

    body {
        line-height: 1.5;
        font-family: 'Poppins', sans-serif;
    }
    .footer-col{
        margin-left: 70px;
    }
    .footer-col img{
       /* margin: 0vh 20vw; */
       margin-bottom: 5vh;
       
       width: 230px;
    }
    .footer {
        background-color: #24262b;
        padding: 30px 0;
        margin-top: 100px;
        /* margin: 20px; */
    }
   .footer p{
        color: #bbbbbb;
        text-align: center;
    }
    .footer-col {
        width: 25%;
        padding: 0 15px;
    }
    .upperfooter{
        display: flex;
        gap: 20px;
    }
    .footer-col h4 {
        font-size: 18px;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 20px; 
        font-weight: 500;
        position: relative;
    }
    
    .footer-col h4::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        background-color: #1e91e9;
        height: 2px;
        box-sizing: border-box;
        width: 50px;
    }
    
    .footer-col ul li:not(:last-child) {
        margin-bottom: 10px;
    }
    
    .footer-col ul li a {
        font-size: 16px;
        text-transform: capitalize;
        color: #ffffff;
        text-decoration: none;
        font-weight: 300;
        color: #bbbbbb;
        display: block;
    }
    
    .footer-col ul li a:hover {
        color: #bbf4e7;
    }
    
    .footer-col .social-links a {
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: rgba(255, 255, 255, 0.2);
        margin: 0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #ffffff;
        transition: all 0.5s ease;
    }
    
    .footer-col .social-links a:hover {
        color: #24262b;
        background-color: #9fdffa;
    }
    
    .copyright{
        padding-top: 10px;
        color: #bbbbbb;
        font-size: small;
    }
}

/* Navbar styles for desktop view */
@media (min-width: 811px) {
    .navbar-brand {
        font-size: 2.1em;
        font-weight: bolder;
        letter-spacing: 1px;
    }

    .jumbotron {
        position: relative;
        height: 540px;
        margin-top: 0;
        text-align: center;
        overflow: hidden;
        background-image: url(https://img.freepik.com/free-vector/abstract-blue-light-pipe-speed-zoom-black-background-technology_1142-9530.jpg);
        background-size: cover;
        background-position: center;
    }

    .jumbotron::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
        z-index: -1;
    }

    .jumbotron .container {
        position: relative;
        z-index: 1;
    }

    .jumbotron .display-4 {
        color: white;
        font-size: 40px;
        font-weight: bold;
        margin-top: 150px;
        margin-bottom: 30px;
        text-align: center;
    }

    .jumbotron .display-4 span {
        font-weight: 500;
        display: inline-block;
    }

    .typed-text {
        display: inline-block;
    }

    @keyframes typedjsBlink {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .text-blue-700 {
        color: #20a6ff;
        font-weight: bolder;
    }

    .dark .text-blue-600 {
        color: #20a6ff;
    }

    .jumbotron::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
        position: absolute;
        bottom: 0;
    }

    .jumbotron .display-4 {
        color: white;
        margin-top: 150px;
        font-weight: bold;
        text-shadow: 1px 1px 0.5px rgba(125, 124, 124, 0.8);
        font-size: 40px;
        margin-bottom: 30px;
        text-align: center;
    }

    .font-reem-kufi-fun {
        font-family: 'Reem Kufi Fun', sans-serif;
    }

    #ast-scroll-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        display: none;
    }

    #ast-scroll-top.show {
        display: block;
    }

    .about-us {
        display: grid;
        grid-template-areas: "contents imgs";
        background-color: rgba(9, 9, 9, 0.16);
        margin: 2vh 4vw;
        border-radius: 20px;
    }

    .about {
        grid-area: contents;
    }

    .about-img {
        text-align: center;
        align-items: center;
        margin: 40px 40px;
        margin-top: 38vh;
        grid-area: imgs;
    }

    .about-img img {
        width: 200px;
    }

    .about {
        padding: 30px 20px;
        color: #459dfc;
        font-size: 1.5rem;
    }

    .about h2 {
        font-family: 'Reem Kufi Fun', sans-serif;
        font-weight: bold;
        font-size: 3.2rem;
        color: #0066ff;
    }

    .text a {
        text-decoration: none;
        color: aquamarine;
    }

    .text a:hover {
        text-decoration: none;
        color: rgb(2, 247, 255);
    }

    .display-4 {
        width: 100%;
        white-space: nowrap;
        margin: 0 auto;
    }

    .jumbotron .display-4 span {
        font-weight: 500;
        display: inline-block;
    }

    .typed-text {
        display: inline-block;
    }

    .workingspace {
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        color: #fff;
        width: 70vw;
        margin: 10px;
        overflow-x: auto;
        gap: 30px;
    }

    #creators {
        color: white;
        font-family: 'Reem Kufi Fun', sans-serif;
        background-color: rgba(73, 72, 72, 0.273);
        margin: 10px;
        padding: 20px;
        border-radius: 20px;
        position: relative; 
    }
    
    #creators h1 {
        font-size: 2.5rem;
        margin-bottom: 15px;
    }
    
    #gallery {
        width: 100%;
        margin: 20px 0;
    }
    
    .swiper-slide {
        text-align: center;
        padding: 30px;
    }
    
    .ccs {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        align-content: center;
    }
    
    .ccs img {
        width: 250px; 
        border-radius: 15px;
        margin-bottom: 20px;
    }
    
    .ccs h3 {
        font-size: 2.2rem;
        margin: 10px 0;
    }
    .swiper-slide span{
        font-size: 2rem;
        /* display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        text-align: center; */
    }
    .ccs p {
        font-size: 1.5rem;
        margin: 10px 0;
    }
    
    .leftright {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 2rem;
        color: white;
        cursor: pointer;
        z-index: 1; 
    }
    
    .swiper-button-next.leftright {
        right: 20px;
    }
    
    .swiper-button-prev.leftright {
        left: 20px;
    }
    
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

    body {
        line-height: 1.5;
        font-family: 'Poppins', sans-serif;
    }
    .footer-col{
        margin-left: 70px;
    }
    .footer-col img{
       /* margin: 0vh 20vw; */
       margin-bottom: 5vh;
       
       width: 230px;
    }
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .containerF {
        max-width: 1070px;
        margin: auto;
        
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    .upperfooter{
        /* background-color: #0066ff; */
        display: flex;
        gap: 1600px;
        align-items: center;
        margin-left: 10vw;
        padding-bottom: 5vh;;
    }
    .navbbar ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 15px;
    }
    .navbbar ul li a{
        font-size: large;
        font-weight: bolder;
        color: #007bff;
    }

    .footer {
        background-color: #24262b;
        padding: 30px 0;
        margin-top: 100px;
        /* margin: 20px; */
    }
   .footer p{
        color: #bbbbbb;
        text-align: center;
    }
    .footer-col {
        width: 25%;
        padding: 0 15px;
    }
    .upperfooter{
        display: flex;
        gap: 20px;
    }
    .footer-col h4 {
        font-size: 18px;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 20px; 
        font-weight: 500;
        position: relative;
    }
    
    .footer-col h4::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        background-color: #1e91e9;
        height: 2px;
        box-sizing: border-box;
        width: 50px;
    }
    
    .footer-col ul li:not(:last-child) {
        margin-bottom: 10px;
    }
    
    .footer-col ul li a {
        font-size: 16px;
        text-transform: capitalize;
        color: #ffffff;
        text-decoration: none;
        font-weight: 300;
        color: #bbbbbb;
        display: block;
    }
    
    .footer-col ul li a:hover {
        color: #bbf4e7;
    }
    
    .footer-col .social-links a {
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: rgba(255, 255, 255, 0.2);
        margin: 0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #ffffff;
        transition: all 0.5s ease;
    }
    
    .footer-col .social-links a:hover {
        color: #24262b;
        background-color: #9fdffa;
    }
    
    .copyright{
        padding-top: 10px;
        color: #bbbbbb;
    }


    
    .tombol {
        text-transform: uppercase;
        border-radius: 40px;
    }

    .navbar-brand,
    .nav-link {
        color: white !important;
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
    }

    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
        color: white !important;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        /* border-bottom: 3px solid #0b62dc00; */
        width: 50%;
        color: beige;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .jumbotron {
        margin-top: -75px;
        height: 640px;
    }

    .jumbotron .display-4 {
        font-size: 62px;
    }

    .workingspace {
        text-align: left;
    }

    .testimonial h5 {
        font-size: 32px;
    }

    .col p a {
        text-decoration: none;
        color: rgb(157, 185, 255);
    }
}

#ast-scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

#ast-scroll-top.show {
    display: block;
}

@media (max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
    .social-links{
        padding-right: 100px;
        color: #dbe1eb;
    }
}

@media (max-width: 574px) {
    .footer-col {
        width: 100%;
    }
    .social-links{
        padding-right: 20px;
        color: #dbe1eb;
    }
    .navbar {
        padding: 15px;
    }

    .navbar-brand {
        font-size: 1.8em;
    }

    .navbar-nav .nav-item {
        margin-right: 15px;
    }

    .navbar-nav .nav-link {
        font-size: 1.1em;
    }

    .navbar-toggler-icon {
        background-color: #fff;
    }
}

@media (min-width: 811px) and (max-width: 997px) {
    .navbar {
        background-color: #333;
        padding: 15px;
    }

    .navbar-brand {
        font-size: 1.8em;
    }
    .jumbotron,
    .navbar {
    background-image: url(asset/headernavbackground.jpg);
    background-size: cover;
    background-position: center;
    }
    .navbar-nav .nav-item {
        margin-right: 15px;
    }

    .navbar-nav .nav-link {
        font-size: 1.1em;
    }

    .navbar-toggler-icon {
        background-color: #fff;
    }
}

.containerr {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.25);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 38px;
    filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin:10px;
  }
  
  .wrapper {
    width: 100%;
    height: 100%;
  }
  
  .banner-image {
    background-image: url(asset/DeltaYT.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 100%;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.255)
  }
  .cc1{
    background-image: url(asset/ripperAFK.jpg);
  }
  .cc2{
    background-image: url(asset/naimYT.jpg);
  }
  .cc3{
    background-image: url(asset/pantheria.jpg);
  }
  .cc4{
    background-image: url(asset/DeltaYT.jpg);
  }
  .cc5{
    background-image: url(asset/VariesYT.jpg);
  }
  .cc6{
    background-image: url(asset/stella.jpg);
  }
  .cc7{
    background-image: url(asset/SpecterYT.jpg);
  }
  .cc8{
    background-image: url(asset/cosmic.jpg);
  }
  .cc9{
    background-image: url(asset/sid.jpg);
  }
  .cc10{
    background-image: url(asset/MelodicYT.jpg);
  }
  .cc11{
    background-image: url(asset/thunder.jpg);
  }
  .cc12{
    background-image: url(asset/ultraego.jpg);
  }
  .cc13{
    background-image: url(asset/tobi.jpg);
  }
  .cc14{
    background-image: url(asset/naithik.jpg);
  }
  
  .containerr h2{
    /* font-family: 'Righteous', sans-serif; */
    color: rgba(222, 250, 246, 0.98);
    text-transform: uppercase;
    font-size: 2.1rem;
  }
  
  .containerr p{
    color: #fff;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 0.8rem;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  .button-wrapper a{
    margin-top: 18px;
    font-size: 2.2rem;
  }
  
  
  .outline {
    background: transparent;
    color: rgba(0, 212, 255, 0.9);
    border: 1px solid rgba(0, 212, 255, 0.6);
    transition: all .3s ease;
  }
  
  .outline:hover {
    transform: scale(1.125);
    color: rgba(255, 255, 255, 0.9);
    border-color: rgba(255, 255, 255, 0.9);
    transition: all .3s ease;
  }
  
  .fill {
    background: rgba(0, 212, 255, 0.9);
    color: rgba(255, 255, 255, 0.95);
    filter: drop-shadow(0);
    font-weight: bold;
    transition: all .3s ease;
  }
  
  .fill:hover {
    transform: scale(1.125);
    border-color: rgba(255, 255, 255, 0.9);
    filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.125));
    transition: all .3s ease;
  }
  

  @media (max-width: 768px) {
    .banner-image {
      height: 200px;
    }  
    .btn {
      padding: 10px 20px;
      font-size: 0.7rem;
    }
  }
  
